# Build
bin/
obj/
artifacts/
build/
dist/
*.nupkg
*.snupkg

# Test & coverage
coverage/
coveragereport/
*.trx
*.coverage

# Environment secrets
.env

# IDE
.vs/
.vscode/
.idea/
*.sln.ide/
*.user
*.suo
*.sln.docstates
*.swp

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Benchmarking
BenchmarkDotNet.Artifacts